* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Glory", sans-serif;
  user-select: none !important;
}

html,
body {
  height: 100%;
  width: 100%;
}
.cuser {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  pointer-events: none; /* Ensures the follower does not block other elements */
  transform: translate(-50%, -50%);
  z-index: 1000; /* Ensure it's on top of other elements */
}

.navbar {
  color: black;
  padding: 20px 30px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

.navbar > img {
  height: 50px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  margin: 10px 100px;
  z-index: -2;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  font-size: 22px;
  font-weight: 500;
  list-style: none;
  padding: 10px 70px;
  /* border: 2px solid red ; */
}

.navbar ul li {
  text-decoration: none;
  list-style: none;
  position: relative;
  display: inline-block;
}
.navbar ul a {
  color: black;
  text-decoration: none;
}
.page1 {
  height: 90vh;
  padding: 100px 90px;
  /* border: 2px solid #ccc; */
}

.page1 h1 {
  text-align: center;
  font-size: 3.9vw;
  margin-bottom: 20px;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
}

.page1 p {
  text-align: center;
  font-size: 27px;
}

.page1 button {
  background-color: transparent;
  color: rgb(0, 0, 0);
  padding: 15px 25px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  width: 200px;
  height: 70px;
  font-size: 28px;
  border: 2px solid black;
  margin: 10px auto;
  display: block;
  transition-duration: 0.2s;
}

.page1 button:hover {
  background-color: rgb(40, 159, 205);
  color: rgb(255, 255, 255);
  border: 2px solid rgb(40, 159, 205);
}
/* Full page overlay */
.full-page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    255,
    255,
    255,
    0.724
  ); /* Adjust the background color and opacity */
  z-index: 3; /* Below the typing indicator */
}
.page2 {
  height: 70vh;
  width: 100%;
  /* border: 2px solid red ; */
  padding: 50px 100px;
}
.feature-section {
  /* border: 2px solid black ; */
  justify-content: center;
  align-items: center;
  display: flex;
}

.feature-section img {
  width: 80px;
  height: 80px;
  position: relative;
  left: 40%;
}
.feature-section h3 {
  text-align: center;
  margin: 20px 0px;
  font-size: 30px;
}
.feature-section p {
  text-align: center;
  margin: 20px 10px;
  font-size: 23px;

}

.page3 {
  height: 60vh;
  width: 100%;
  /* border: 2px solid red ; */
  padding: 10px 20px;
  text-align: center;
}
.page3 h1 {
  text-align: center;
  font-size: 4vw;
  margin: 0px 20px;
  font-weight: 700;
  /* border: 2px solid red ; */
  color: transparent;
  -webkit-text-stroke: 1px black; /* for Chrome, Safari, and Opera */
  /* text-stroke: 2px black; for Firefox */

  /* text-stroke: 1px solid black; */
}
.post-section {
  
  height: 100vh;
  width: 100vw;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  border: 2px solid black ;
}
.post-section img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-size: cover;
}
.post1 {
  height: 30%;
  width: 30%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  /* border: 2px solid red ; */
  overflow: hidden;
}
/* .post1 :hover{
  width: 50%;
  height: 70%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(255, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 20px;
  display: flex;
  
  flex-direction: column;
  align-items: center;
} */

.footer {
  height: 60vh;
  width: 100%;
  padding: 20px 15px;
  /* border: 2px solid red; */
  /* font-family: cascadia code  !important; */
}
.footer-inner-staff {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
  border: 2px solid red;
}
.box {
  width: 30%;
  height: 70%;
  /* display: flex; */
  border: 2px solid rgb(62, 49, 49);
  padding: 10px 20px;
}
.Sochal img {
  height: 40px;
  width: 40px;
  display: flex;
}
.Sochal h5 {
  margin: 10px 5px;

  padding: 0;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #333;
  letter-spacing: -1px;
}
.heafign-holder {
  display: flex;
  border: 2px solid rgb(53, 232, 131);
  padding:  40px 350px;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}
.heafign-holder h1 {
  font-size: 4vw;
  text-align: center;
  font-weight: 900;
  color: transparent;
border: 2px solid red ;
  letter-spacing: -2px;
  -webkit-text-stroke: 1px black;
  /* border-bottom: 2px solid black; */
}
.heafign-holder img {
  height: 100px;
  width: 100px;
}
/* .soial-link {
  margin-top: 30px;
  padding: 20px 20px;
  font-size: 42px;
  letter-spacing: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 50%;
  width: 100%;
  border: 2px solid rgb(106, 0, 255);
  text-decoration: none;
} */
/* .soial-link a {
  color: rgb(19, 98, 126);
  text-decoration: none;
} */
/* .inputscribe{
border: 2px solid rgb(62, 38, 38) ;
text-align: center;

} */
/* .inputscribe h1{
    text-align: center;
  font-size: 2.5vw;
  margin: 10px 20px;
  font-weight: 700;
  color: transparent;

  -webkit-text-stroke: 1px black;
} */
/* .inputscribe input{
  margin: 10px 20px ;
  height: 30px;
  width: 80%;
  padding: 0px 7px;
  border-style: none;
  font-weight: 600;
} */
/* .inputscribe button{
  padding: 10px 10%;
  background: transparent;
  border-radius: 20px;
  font-size: 1.3vw;
  font-weight: 700;
  border: 2px solid black ;
} */
